[Unit]
Description=DynDNS client by z3ntu
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=luca
Group=luca
WorkingDirectory=/home/luca/DynDNS/
ExecStart=/home/luca/DynDNS/client.sh
